body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto 1fr auto; 
  grid-template-areas: 
      "header header header"
      "nav main aside"
      "footer footer footer";
  height: 100vh;
}

header {
  grid-area: header;
  border-bottom: 2px solid #ff0000;
  padding-bottom: 20px;
  text-align: center;
}

nav {
  grid-area: nav;
  padding: 20px;
  border-right: 1px solid #ffffff;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  border: 1px solid #000000;
  margin-bottom: 10px;
}

nav li a {
  display: block;
  padding: 10px;
  background-color: #cc0000;
  color: #ffffff;
  text-decoration: none;
}

nav li a:hover {
  background-color: #660000;
}

main {
  grid-area: main;
  padding: 20px;
  text-align: center;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

aside {
  grid-area: aside;
  border-left: 1px solid #ffffff;
  padding: 20px;
}

footer {
  grid-area: footer;
  border-top: 2px solid #ff0000;
  text-align: center;
  padding: 10px;
}